{% templatetag openblock %} extends "master.html" {% templatetag closeblock %}
{% templatetag openblock %} load staticfiles {% templatetag closeblock %}


{% templatetag openblock %} block content {% templatetag closeblock %}
<article class="index">

    <a href="{% templatetag openblock %} url 'schema-redoc' version=1 {% templatetag closeblock %}" class="link-block">API spec</a>

    <a href="{% templatetag openblock %} url 'vng_api_common:scopes' {% templatetag closeblock %}" class="link-block">API scopes</a>

    <a href="{% templatetag openblock %} url 'notifications:kanalen' {% templatetag closeblock %}" class="link-block">Notificatie-kanalen</a>

    <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}" class="link-block">admin</a>

</article>
{% templatetag openblock %} endblock {% templatetag closeblock %}
